body{
    margin: 0;
}

a{
    text-decoration: none;
    padding: 0;
    color: black;
}

/* Navigation bar section ! */

.nav-bar{
    display: flex;
    height: 10vh;
    align-items: center;
    gap: 10rem;
    font-size: 2rem;
    background-color: aliceblue ;
}

.nav-bar > a {
    position: relative;
}

.nav-bar > a::after {
   content: "";
   position: absolute;
   height: 1px;
   width: 100%;
   transform: scaleX(0);
   transform-origin: right;
   background-color: white;
   transition: background-color 1s, transform 1s;
}

.nav-bar > a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    background-color: black;
}

.nav-bar > div{
    font-size: 2rem !important;
    width: 50%;
    padding-left: 1rem;
}

.nav-bar > a > div > h1{
    margin: 0;
}

/* End of navigation bar section ! */

/* Middle page content section */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: beige;
}

.content{
    padding-bottom: 75px;
}

.content > h1{
    font-size: 5rem;
}

.content > p {
    font-size: 2rem;
}

.button{
    background-color: green;
    padding: 10px;
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 1.5rem;
}

/* End of content section */