@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;702&display=swap');

body, html{
  font-family: 'Outfit', sans-serif;
  height: 100%;
  background-color: lightblue;
}
.card{
  color: green;
  text-align: center;
  font-size: 1rem;
}

.container{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.content{
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 20rem;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  transition: transform .2s;
  padding-top: 10px;
  gap: 1.5rem;
  box-shadow: 0px 0px 10px 1px white;
  min-width: 13rem;
  max-width: 13rem;
}

.content:hover{
  box-shadow: 0px 0px 10px 1px black;
  transform: scale(1.1);
}

.image-container, .text-container{
  width: 90%;
  height: 45%;
}


.image{
  object-fit: fill;
  width: inherit;
  height: 100%;
  border-radius: 10px;
}

.title{
  font-size: 1.4rem;
  font-weight: 700;
  color: black;
  height: 35%;
}

.description{
  font-size: 1.2rem;
  font-weight: 400;
  color: lightblue;
}