@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;702&display=swap');

body, html, main{
  font-family: 'Outfit', sans-serif;
  height: 100%;
  background-color: lightblue;
}


.container{
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  transition: transform .2s, box-shadow .3s;
  padding-top: 10px;
  gap: 1.5rem;
  box-shadow: 0px 0px 10px 1px white;
  min-width: 13rem;
  max-width: 13rem;
}

.content:hover{
  box-shadow: 0px 0px 10px 1px black;
  transform: scale(1.1);
}

.image-container, .text-container{
  width: 90%;
  height: 45%;
}


.image{
  object-fit: contain;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.title > p{
  font-size: 1.4rem;
  font-weight: 700;
  color: black;
  height: 35%;
}

.description > p{
  font-size: 1.2rem;
  font-weight: 400;
  color: lightblue;
}